body {
    background-color: #9fbdff;
}

h1, h2{
    text-align: center;
}

.strogonoff-img{
    text-align: center;
    justify-content: center;
}

.modo-de-preparo{
    text-align: justify;
    background-color: azure;
    padding: 0.7rem;
}